In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
os.makedirs("verdict_ai", exist_ok=True)

In [5]:
sales_df = pd.DataFrame({
    "product_id": [1, 2, 3, 4, 5],
    "price": [50, 80, 30, 120, 60],
    "units_sold": [200, 120, 400, 60, 180],
    "ad_spend": [500, 700, 300, 900, 450]
})

sales_df.to_csv("verdict_ai/sales.csv", index=False)
sales_df

   product_id  price  units_sold  ad_spend
0           1     50         200       500
1           2     80         120       700
2           3     30         400       300
3           4    120          60       900
4           5     60         180       450

In [6]:
costs_df = pd.DataFrame({
    "product_id": [1, 2, 3, 4, 5],
    "cost_per_unit": [25, 40, 15, 70, 30]
})

costs_df.to_csv("verdict_ai/costs.csv", index=False)
costs_df

   product_id  cost_per_unit
0           1             25
1           2             40
2           3             15
3           4             70
4           5             30

In [7]:
customers_df = pd.DataFrame({
    "customer_id": range(1, 101),
    "orders": np.random.randint(1, 6, 100)
})

customers_df.to_csv("verdict_ai/customers.csv", index=False)
customers_df.head()

   customer_id  orders
0            1       2
1            2       2
2            3       3
3            4       2
4            5       3

In [8]:
sales = pd.read_csv("verdict_ai/sales.csv")
costs = pd.read_csv("verdict_ai/costs.csv")
customers = pd.read_csv("verdict_ai/customers.csv")

data = sales.merge(costs, on="product_id")
data

   product_id  price  units_sold  ad_spend  cost_per_unit
0           1     50         200       500             25
1           2     80         120       700             40
2           3     30         400       300             15
3           4    120          60       900             70
4           5     60         180       450             30

In [9]:
data["revenue"] = data["price"] * data["units_sold"]
data["total_cost"] = data["cost_per_unit"] * data["units_sold"]
data["gross_profit"] = data["revenue"] - data["total_cost"]
data["profit_margin"] = data["gross_profit"] / data["revenue"]

total_orders = data["units_sold"].sum()
total_ad_spend = data["ad_spend"].sum()

CAC = total_ad_spend / total_orders

avg_order_value = data["revenue"].sum() / total_orders
avg_orders_per_customer = customers["orders"].mean()
LTV = avg_order_value * avg_orders_per_customer

CAC, LTV

(2.96875, 149.83333333333331)

In [10]:
data["price_change"] = data["price"].pct_change()
data["demand_change"] = data["units_sold"].pct_change()
data["elasticity"] = data["demand_change"] / data["price_change"]

avg_elasticity = data["elasticity"].replace([np.inf, -np.inf], np.nan).mean()
avg_elasticity

-2.1708333333333334

In [11]:
def verdict_engine(margin, ltv, cac, elasticity):
    verdicts = []

    if margin < 0.30:
        verdicts.append("Raise prices or cut costs")

    if ltv > 3 * cac:
        verdicts.append("Scale paid advertising")

    if elasticity < -1:
        verdicts.append("Avoid price increases")

    if margin > 0.50 and ltv > 3 * cac:
        verdicts.append("Launch bundles or upsells")

    if not verdicts:
        verdicts.append("Maintain current strategy")

    return verdicts

In [12]:
avg_margin = data["profit_margin"].mean()

verdicts = verdict_engine(
    margin=avg_margin,
    ltv=LTV,
    cac=CAC,
    elasticity=avg_elasticity
)

print("VERDICT AI OUTPUT\n")
print(f"Average Margin: {avg_margin:.2%}")
print(f"CAC: ${CAC:.2f}")
print(f"LTV: ${LTV:.2f}")
print(f"Elasticity: {avg_elasticity:.2f}\n")

for v in verdicts:
    print("-", v)

VERDICT AI OUTPUT

Average Margin: 48.33%
CAC: $2.97
LTV: $149.83
Elasticity: -2.17

- Scale paid advertising
- Avoid price increases

In [1]:
import pandas as pd

sales = pd.DataFrame({
    "product_id": ["A101", "A102", "A103"],
    "price": [50, 30, 80],
    "units_sold": [120, 200, 60],
    "ad_spend": [600, 500, 300]
})

sales

costs = pd.DataFrame({
    "product_id": ["A101", "A102", "A103"],
    "cost_per_unit": [20, 15, 40]
})

costs


customers = pd.DataFrame({
    "customer_id": ["C1", "C2", "C3", "C4", "C5"],
    "orders": [3, 4, 2, 5, 3]
})

customers


sales.to_csv("sales.csv", index=False)
costs.to_csv("costs.csv", index=False)
customers.to_csv("customers.csv", index=False)

print("CSV files created successfully:")
print("- sales.csv")
print("- costs.csv")
print("- customers.csv")

CSV files created successfully:
- sales.csv
- costs.csv
- customers.csv